*{
    margin: 0;
    Padding:0;

}
body{
    background-color: #DFF2D8;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #03045e;
    background-color: #7EBDC3;
}
#rstbtn{
    padding:1rem;
    font-size: 1rem;
    background-color: #fb5607;
    color: white;
    border-radius: 1rem;
    border: none;
}
.nwgm{
    padding:0.5rem;
    font-size: 1rem;
    background-color: #e9c46a;
    color: white;
    border-radius: 1rem;
    border: none;

}
#msg{
    color: black;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}