*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
  background-color: #121212;

}
.container{
    height: 90vh;
    width: 60vh;
    border: 2px solid black;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-radius:35px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1e1e1e;
    box-shadow: 9px 11px 20px 0px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.cont{
    border: none;
    height: 80%;
    width: 90%;
    border-radius:35px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 9px;
    

}
.cont button:nth-child(19){
    grid-column: span 2;
}
button{
    height: 70%;
    border-radius: 40px;
    font-size: 25px;
    z-index: 3;
    
}
.screen{
    z-index: 3;
    border: 2px solid black;
    height: 15%;
    width: 90%;
    border-radius: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 24px;
    background-color: #0f0f0f;
  color: #ffffff;
  
}

.btn{
  background-color: #2a2a2a;
  color: #ffffff;
}
.container::before{
    content:"";
    position: absolute;
    height: 118%;
    width: 30%;
    z-index: -1;
    top: -2rem;
    border-radius: 35px;
    scale: 20;
    filter:brightness(10px);
    background:conic-gradient(
        from 45deg,
        #00F5FF 45deg ,
      
        #00A6FF ,
       
        #0781f4 ,
      
        #0072af ,
     
        #05010D,
        transparent
        
    );
    
    animation: spin 05s linear infinite;
} 
@keyframes spin{
    to{
        transform: rotate(0deg);

    }
    from{
        transform: rotate(360deg)
    }
}
.container::after{
    content: "";
    position: absolute;
    background: red;
    z-index:0;
    inset: 2px;
    border-radius:35px ;
    background-color: #1e1e1e;
}
